In [1]:
import pathlib
import json

In [2]:
serv = "local"

configs = pathlib.Path("/database/configs.json")
with open(configs) as read_in:
    configs = json.load(read_in)
    
configs[serv][serv]["database"] = str(pathlib.Path("/database/local_store.db"))

In [3]:
from orator import DatabaseManager
from modelingdbtools import query
from modelingdbtools.utils import admin
from modelingdbtools.schemas import modeling

db = DatabaseManager(configs[serv])
modeling.create_schema(db)
modeling.add_schema_testing_data(db)

admin.display_all_tables(db)

All tables
----------------------------------------
                  name  rootpage  \
0           SourceType         2
1                 User         5
2                 Iota         7
3              Dataset         9
4  IotaDatasetJunction        11
5                  Run        13

                                                 sql             tbl_name  \
0  CREATE TABLE "SourceType" ("SourceTypeId" INTE...           SourceType
1  CREATE TABLE "User" ("UserId" INTEGER NOT NULL...                 User
2  CREATE TABLE "Iota" ("IotaId" INTEGER NOT NULL...                 Iota
3  CREATE TABLE "Dataset" ("DatasetId" INTEGER NO...              Dataset
4  CREATE TABLE "IotaDatasetJunction" ("IotaId" I...  IotaDatasetJunction
5  CREATE TABLE "Run" ("RunId" INTEGER NOT NULL P...                  Run

    type
0  table
1  table
2  table
3  table
4  table
5  table
--------------------------------------------------------------------------------
SourceType | rows: 2
----------------------------------------
                                   Description  SourceTypeId     Type
0          Use aics.FMS.File id to find source             1     File
1  Use aics.Modeling.Dataset id to find source             2  Dataset
--------------------------------------------------------------------------------
User | rows: 2
----------------------------------------
                      Created       Description      Name  UserId
0  2018-06-11 21:36:29.411117             admin  jacksonb       1
1  2018-06-11 21:36:29.411122  scrub, noob, etc     gregj       2
--------------------------------------------------------------------------------
Iota | rows: 9
----------------------------------------
                      Created  GroupId  IotaId      Key Parser  SourceId  \
0  2018-06-11 21:36:29.421960        0       1    hello    str         1
1  2018-06-11 21:36:29.421964        0       2      foo    str         1
2  2018-06-11 21:36:29.421965        0       3  is_test   bool         1
3  2018-06-11 21:36:29.421965        1       4    hello    str         1
4  2018-06-11 21:36:29.421966        1       5      foo    str         1

   SourceTypeId   Value
0             1  world1
1             1    bar1
2             1    True
3             1  world2
4             1    bar2
--------------------------------------------------------------------------------
Dataset | rows: 2
----------------------------------------
   DatasetId                         Description                 Name
0          1  Created by queries.add_filler_data   test_input_dataset
1          2  Created by queries.add_filler_data  test_output_dataset
--------------------------------------------------------------------------------
IotaDatasetJunction | rows: 9
----------------------------------------
   DatasetId  IotaId
0          1       1
1          1       2
2          1       3
3          1       4
4          1       5
--------------------------------------------------------------------------------
Run | rows: 4
----------------------------------------
   AlgorithmId                       Begin  \
0            1  2018-06-11 21:36:29.445395
1            1  2018-06-11 21:36:43.204126
2            1  2018-06-11 21:36:54.355782
3            1  2018-06-11 21:37:53.888226

                          Description                         End  \
0  Created by queries.add_filler_data  2018-06-11 21:36:29.445397
1  Created by queries.add_filler_data  2018-06-11 21:36:43.204128
2  Created by queries.add_filler_data  2018-06-11 21:36:54.355783
3  Created by queries.add_filler_data  2018-06-11 21:37:53.888227

   InputDatasetId      Name  OutputDatasetId  RunId  UserId
0               1  Test Run                2      1       1
1               1  Test Run                2      2       1
2               1  Test Run                2      3       1
3               1  Test Run                2      4       1

In [4]:
query.get_dataset(db, "test_input_dataset")

    foo foo(Parser)   hello hello(Parser) is_test is_test(Parser)
0  bar1         str  world1           str    True            bool
1  bar2         str  world2           str   False            bool

In [5]:
query.get_dataset(db, "test_input_dataset", get_info_items=True)

,foo,foo(IotaId),foo(Parser),foo(SourceId),foo(SourceTypeId),hello,hello(IotaId),hello(Parser),hello(SourceId),hello(SourceTypeId),is_test,is_test(IotaId),is_test(Parser),is_test(SourceId),is_test(SourceTypeId)
0,bar1,2,str,1,1,world1,1,str,1,1,True,3,bool,1,1
1,bar2,5,str,1,1,world2,4,str,1,1,False,6,bool,1,1