In [1]:
import datasetdatabase as dsdb
import pandas as pd
import numpy as np

In [2]:
# creating lists of dicts to be formed into a dataframe
ds = []
for i in range(2):
    d = {}
    d["floats"] = np.random.rand() * 100
    d["ndarrays"] = np.random.rand(2, 2)
    d["files"] = "local.db"
    ds.append(d)

# convert this example both to dataframe
ds = pd.DataFrame(ds)
ds

      files     floats                                           ndarrays
0  local.db  17.831735  [[0.36869910494901814, 0.3390475648342909], [0...
1  local.db  81.560983  [[0.18601971780981408, 0.9774847764846956], [0...

In [3]:
ds = dsdb.Dataset(ds)
ds

info: None
ds: True
name: None
description: None
introspector: <class 'datasetdatabase.introspect.dataframe.DataFrameIntrospector'>
validated: {'types': {'files': False, 'floats': False, 'ndarrays': False}, 'values': {'files': False, 'floats': False, 'ndarrays': False}, 'files': False}
md5: 1e28d9145bd41b88e35a50e0b41f5ea9
sha256: 362f1ce9e9695b2fe1fd6253662fdbde79b1b0673473e2650013eb501d61f427

In [4]:
ds.ds

      files     floats                                           ndarrays
0  local.db  17.831735  [[0.36869910494901814, 0.3390475648342909], [0...
1  local.db  81.560983  [[0.18601971780981408, 0.9774847764846956], [0...

In [5]:
types = {"ndarrays": np.ndarray}
values = {"floats": lambda x: x >= 0, "files": lambda x: "local" in x}
files = ["files"]
import_as = False

ds.introspector.validate(types, values, files, import_as)
ds

Checking dataset value types...
[============================================================] 100.0% 2/2 ~ 0:0:0 remaining
Checking dataset values...
[============================================================] 100.0% 4/4 ~ 0:0:0 remaining
Checking files exist...
[============================================================] 100.0% 2/2 ~ 0:0:0 remaining

info: None
ds: True
name: None
description: None
introspector: <class 'datasetdatabase.introspect.dataframe.DataFrameIntrospector'>
validated: {'types': {'files': False, 'floats': False, 'ndarrays': True}, 'values': {'files': True, 'floats': True, 'ndarrays': False}, 'files': {'files': True}}
md5: 1e28d9145bd41b88e35a50e0b41f5ea9
sha256: 362f1ce9e9695b2fe1fd6253662fdbde79b1b0673473e2650013eb501d61f427

In [6]:
storage = ds.introspector.deconstruct()
storage

[============================================================] 100.0% 6/6 ~ 0:0:0 remaining

{'Iota': [{'Key': 'files',
   'Value': b'\x80\x03X\x08\x00\x00\x00local.dbq\x00.',
   'Created': datetime.datetime(2018, 9, 1, 1, 53, 55, 309696)},
  {'Key': 'floats',
   'Value': b'\x80\x03G@1\xd4\xec\x8e\xca\xef4.',
   'Created': datetime.datetime(2018, 9, 1, 1, 53, 55, 309696)},
  {'Key': 'ndarrays',
   'Value': b'\x80\x03cnumpy.core.multiarray\n_reconstruct\nq\x00cnumpy\nndarray\nq\x01K\x00\x85q\x02C\x01bq\x03\x87q\x04Rq\x05(K\x01K\x02K\x02\x86q\x06cnumpy\ndtype\nq\x07X\x02\x00\x00\x00f8q\x08K\x00K\x01\x87q\tRq\n(K\x03X\x01\x00\x00\x00<q\x0bNNNJ\xff\xff\xff\xffJ\xff\xff\xff\xffK\x00tq\x0cb\x89C &\x83t!\xc4\x98\xd7?*\x1c\xb0\x8e\xf4\xb2\xd5?_\xd6\xd4\x85\xed\xca\xea?\xc0-W\x9d\xfdx\xb9?q\rtq\x0eb.',
   'Created': datetime.datetime(2018, 9, 1, 1, 53, 55, 309696)},
  {'Key': 'files',
   'Value': b'\x80\x03X\x08\x00\x00\x00local.dbq\x00.',
   'Created': datetime.datetime(2018, 9, 1, 1, 53, 55, 310480)},
  {'Key': 'floats',
   'Value': b'\x80\x03G@Tc\xe7&\xd1\x01\x13.',
   'Created': datetime.datetime(2018, 9, 1, 1, 53, 55, 310480)},
  {'Key': 'ndarrays',
   'Value': b"\x80\x03cnumpy.core.multiarray\n_reconstruct\nq\x00cnumpy\nndarray\nq\x01K\x00\x85q\x02C\x01bq\x03\x87q\x04Rq\x05(K\x01K\x02K\x02\x86q\x06cnumpy\ndtype\nq\x07X\x02\x00\x00\x00f8q\x08K\x00K\x01\x87q\tRq\n(K\x03X\x01\x00\x00\x00<q\x0bNNNJ\xff\xff\xff\xffJ\xff\xff\xff\xffK\x00tq\x0cb\x89C \x1c\xc03~~\xcf\xc7?O\xdej'\x8eG\xef?\x89\xfa\xd5Z\xf6\x85\xe5?\xf0\xbc]i_2\xb7?q\rtq\x0eb.",
   'Created': datetime.datetime(2018, 9, 1, 1, 53, 55, 310480)}],
 'Group': [{'GroupId': 0,
   'Label': 0,
   'Created': datetime.datetime(2018, 9, 1, 1, 53, 55, 309696)},
  {'GroupId': 1,
   'Label': 1,
   'Created': datetime.datetime(2018, 9, 1, 1, 53, 55, 310480)}],
 'IotaGroup': [{'IotaId': 0,
   'GroupId': 0,
   'Created': datetime.datetime(2018, 9, 1, 1, 53, 55, 309696)},
  {'IotaId': 1,
   'GroupId': 0,
   'Created': datetime.datetime(2018, 9, 1, 1, 53, 55, 309696)},
  {'IotaId': 2,
   'GroupId': 0,
   'Created': datetime.datetime(2018, 9, 1, 1, 53, 55, 309696)},
  {'IotaId': 3,
   'GroupId': 1,
   'Created': datetime.datetime(2018, 9, 1, 1, 53, 55, 310480)},
  {'IotaId': 4,
   'GroupId': 1,
   'Created': datetime.datetime(2018, 9, 1, 1, 53, 55, 310480)},
  {'IotaId': 5,
   'GroupId': 1,
   'Created': datetime.datetime(2018, 9, 1, 1, 53, 55, 310480)}]}

In [7]:
obj_out = ds.introspector.reconstruct(storage)
obj_out

      files     floats                                           ndarrays
0  local.db  17.831735  [[0.36869910494901814, 0.3390475648342909], [0...
1  local.db  81.560983  [[0.18601971780981408, 0.9774847764846956], [0...

In [8]:
import hashlib
import pickle
hashlib.md5(pickle.dumps(ds.ds)).hexdigest() == hashlib.md5(pickle.dumps(obj_out)).hexdigest()

False