In [1]:
import datasetdatabase as dsdb
import pandas as pd
import numpy as np
np.random.seed(24)

In [2]:
# creating lists of dicts to be formed into a dataframe
ds = []
for i in range(2):
    d = {}
    d["floats"] = np.random.rand() * 100
    d["ndarrays"] = np.random.rand(2, 2)
    d["files"] = "local.db"
    ds.append(d)

# convert this example both to dataframe
ds = pd.DataFrame(ds)
ds

      files     floats                                           ndarrays
0  local.db  96.001730  [[0.699512049949576, 0.9998672926238792], [0.2...
1  local.db  73.984099  [[0.996455725089097, 0.3163469777906084], [0.1...

In [3]:
ds = dsdb.Dataset(ds)
ds

info: None
ds: True
name: None
description: None
introspector: <class 'datasetdatabase.introspect.dataframe.DataFrameIntrospector'>
validated: {'types': {'files': False, 'floats': False, 'ndarrays': False}, 'values': {'files': False, 'floats': False, 'ndarrays': False}, 'files': False}
md5: c100c5e786bde6ff32edec9384e5aaa0
sha256: 4f984858cc7c837e697fcb6b51bba7e0529cec4f356706cdbc71981e163af224
annotations: []

In [4]:
ds.ds

      files     floats                                           ndarrays
0  local.db  96.001730  [[0.699512049949576, 0.9998672926238792], [0.2...
1  local.db  73.984099  [[0.996455725089097, 0.3163469777906084], [0.1...

In [5]:
def increment_column(dataset: dsdb.Dataset, column):
    dataset.ds[column] += 1
    return dataset.ds

In [6]:
local = dsdb.DatasetDatabase(config=dsdb.LOCAL, build=True, user="jacksonb")
ds.apply(algorithm=increment_column, database=local, algorithm_parameters={"column": "floats"})
ds

[============================================================] 100.0% 6/6 ~ 0:0:0 remaining
[============================================================] 100.0% 6/6 ~ 0:0:0 remaining

info: {'id': 4, 'name': None, 'description': None, 'introspector': 'datasetdatabase.introspect.dataframe.DataFrameIntrospector', 'md5': '937de55b6938104ba3895efc1e04e1e6', 'sha256': 'c9b90a9e1536e41ee5e9db91715efb652945ed04bd3eeced9b130de0756b19b0', 'created': datetime.datetime(2018, 9, 8, 0, 5, 5, 620393)}
ds: True
name: None
description: None
introspector: <class 'datasetdatabase.introspect.dataframe.DataFrameIntrospector'>
validated: True
md5: 937de55b6938104ba3895efc1e04e1e6
sha256: c9b90a9e1536e41ee5e9db91715efb652945ed04bd3eeced9b130de0756b19b0
annotations: []

In [7]:
ds.ds

      files     floats                                           ndarrays
0  local.db  97.001730  [[0.699512049949576, 0.9998672926238792], [0.2...
1  local.db  74.984099  [[0.996455725089097, 0.3163469777906084], [0.1...

In [8]:
ds.apply(algorithm=increment_column, algorithm_parameters={"column": "floats"})
ds

[============================================================] 100.0% 6/6 ~ 0:0:0 remaining

info: {'id': 5, 'name': None, 'description': None, 'introspector': 'datasetdatabase.introspect.dataframe.DataFrameIntrospector', 'md5': 'dc3f048c3b42c30ee1f591a5f7d009f1', 'sha256': '6660636f0f7d32a192d10206bd2eeb22a60e1174521d7f5513e583549f17f53a', 'created': datetime.datetime(2018, 9, 8, 0, 5, 5, 953973)}
ds: True
name: None
description: None
introspector: <class 'datasetdatabase.introspect.dataframe.DataFrameIntrospector'>
validated: True
md5: dc3f048c3b42c30ee1f591a5f7d009f1
sha256: 6660636f0f7d32a192d10206bd2eeb22a60e1174521d7f5513e583549f17f53a
annotations: []

In [9]:
ds.ds

      files     floats                                           ndarrays
0  local.db  98.001730  [[0.699512049949576, 0.9998672926238792], [0.2...
1  local.db  75.984099  [[0.996455725089097, 0.3163469777906084], [0.1...