In [1]:
import datasetdatabase as dsdb
import pandas as pd
import numpy as np
np.random.seed(24)

In [2]:
# creating lists of dicts to be formed into a dataframe
ds = []
for i in range(2):
    d = {}
    d["floats"] = np.random.rand() * 100
    d["ndarrays"] = np.random.rand(2, 2)
    ds.append(d)

# convert this example both to dataframe
ds = pd.DataFrame(ds)

In [3]:
ds = dsdb.Dataset(ds)
ds

info: None
ds: True
name: f7381264-1912-4a07-9011-2b0ed7673c75
description: None
introspector: <class 'datasetdatabase.introspect.dataframe.DataFrameIntrospector'>
validated: {'types': {'floats': False, 'ndarrays': False}, 'values': {'floats': False, 'ndarrays': False}, 'files': False}
md5: 0e8bca2ec0521462a1a7d88021f2ceed
sha256: 8425b7efc23fbd00a896288dbf0c72ab06819f5e666dc37828c38f253f2a9a3a
annotations: []

In [4]:
ds.ds

      floats                                           ndarrays
0  96.001730  [[0.699512049949576, 0.9998672926238792], [0.2...
1  73.984099  [[0.996455725089097, 0.3163469777906084], [0.1...

In [5]:
def increment_column(dataset: dsdb.Dataset, column):
    dataset.ds[column] += 1
    return dataset.ds

In [6]:
local = dsdb.DatasetDatabase(config=dsdb.LOCAL, build=True, user="jacksonb")
ds.apply(algorithm=increment_column, database=local, algorithm_parameters={"column": "floats"})
ds

Storing algorithm parameters.
Tearing down object...
[============================================================] 100.0% 2/2 ~ 0:0:0 remaining
Storing algorithm parameters.
[============================================================] 100.0% 1/1 ~ 0:0:0 remaining
Dataset processing has begun...
Dataset processing has ended...
Tearing down object...
[============================================================] 100.0% 2/2 ~ 0:0:0 remaining

info: {'id': 4, 'name': '60c8a011-bb2b-4911-852a-2dd3038fcfc8', 'description': None, 'introspector': 'datasetdatabase.introspect.dataframe.DataFrameIntrospector', 'md5': 'ac97192e45fc8fc72f6c81021cb9c77f', 'sha256': '9ef7915bbe108b45f24e73bc6dc8d18762e73c630f0d717c17980cca16bafb12', 'created': datetime.datetime(2018, 9, 17, 19, 20, 31, 289388)}
ds: True
name: 60c8a011-bb2b-4911-852a-2dd3038fcfc8
description: None
introspector: <class 'datasetdatabase.introspect.dataframe.DataFrameIntrospector'>
validated: True
md5: ac97192e45fc8fc72f6c81021cb9c77f
sha256: 9ef7915bbe108b45f24e73bc6dc8d18762e73c630f0d717c17980cca16bafb12
annotations: []

In [7]:
ds.ds

      floats                                           ndarrays
0  97.001730  [[0.699512049949576, 0.9998672926238792], [0.2...
1  74.984099  [[0.996455725089097, 0.3163469777906084], [0.1...

In [8]:
ds.apply(algorithm=increment_column, algorithm_parameters={"column": "floats"})
ds

Storing algorithm parameters.
Input dataset already exists in database.
Dataset processing has begun...
Dataset processing has ended...
Tearing down object...
[============================================================] 100.0% 2/2 ~ 0:0:0 remaining

info: {'id': 5, 'name': '2a866a1e-b23e-49d2-b822-1974fa99f830', 'description': None, 'introspector': 'datasetdatabase.introspect.dataframe.DataFrameIntrospector', 'md5': '5d0ca3950c41236be872fbf7635d9838', 'sha256': '60be9d7686584cab042301a0ec052dcc77080938c618f2b01894b5bbf476ca97', 'created': datetime.datetime(2018, 9, 17, 19, 20, 31, 704188)}
ds: True
name: 2a866a1e-b23e-49d2-b822-1974fa99f830
description: None
introspector: <class 'datasetdatabase.introspect.dataframe.DataFrameIntrospector'>
validated: True
md5: 5d0ca3950c41236be872fbf7635d9838
sha256: 60be9d7686584cab042301a0ec052dcc77080938c618f2b01894b5bbf476ca97
annotations: []

In [9]:
ds.ds

      floats                                           ndarrays
0  98.001730  [[0.699512049949576, 0.9998672926238792], [0.2...
1  75.984099  [[0.996455725089097, 0.3163469777906084], [0.1...