In [1]:
import datasetdatabase as dsdb
import pandas as pd
import numpy as np
np.random.seed(12)

In [2]:
# creating lists of dicts to be formed into a dataframe
ds = []
for i in range(2):
    d = {}
    d["floats"] = np.random.rand() * 100
    d["ndarrays"] = np.random.rand(2, 2)
    d["files"] = "local.db"
    ds.append(d)

# convert this example both to dataframe
ds = pd.DataFrame(ds)
ds

      files     floats                                           ndarrays
0  local.db  15.416284  [[0.7400496965154048, 0.26331501518513467], [0...
1  local.db  91.874701  [[0.9007148541170122, 0.03342142762634459], [0...

In [3]:
ds = dsdb.Dataset(ds)
ds

info: None
ds: True
name: 5454c70caf9f1d79f1434af40aae59df
description: None
introspector: <class 'datasetdatabase.introspect.dataframe.DataFrameIntrospector'>
validated: {'types': {'files': False, 'floats': False, 'ndarrays': False}, 'values': {'files': False, 'floats': False, 'ndarrays': False}, 'files': False}
md5: 5454c70caf9f1d79f1434af40aae59df
sha256: a06254a359e40b8489fb1bd0895dcd11202b196b9607b073bee745cd5639783f

In [4]:
ds.ds

      files     floats                                           ndarrays
0  local.db  15.416284  [[0.7400496965154048, 0.26331501518513467], [0...
1  local.db  91.874701  [[0.9007148541170122, 0.03342142762634459], [0...

In [5]:
types = {"ndarrays": np.ndarray}
values = {"floats": lambda x: x >= 0, "files": lambda x: "local" in x}
files = ["files"]
import_as = False

ds.introspector.validate(types, values, files, import_as)
ds

Checking dataset value types...
[============================================================] 100.0% 2/2 ~ 0:0:0 remaining
Checking dataset values...
[============================================================] 100.0% 4/4 ~ 0:0:0 remaining
Checking files exist...
[============================================================] 100.0% 2/2 ~ 0:0:0 remaining

info: None
ds: True
name: 5454c70caf9f1d79f1434af40aae59df
description: None
introspector: <class 'datasetdatabase.introspect.dataframe.DataFrameIntrospector'>
validated: {'types': {'files': False, 'floats': False, 'ndarrays': True}, 'values': {'files': True, 'floats': True, 'ndarrays': False}, 'files': {'files': True}}
md5: 5454c70caf9f1d79f1434af40aae59df
sha256: a06254a359e40b8489fb1bd0895dcd11202b196b9607b073bee745cd5639783f

In [6]:
storage = ds.introspector.deconstruct()
storage

[============================================================] 100.0% 6/6 ~ 0:0:0 remaining

{'Iota': [{'Key': 'files',
   'Value': b'\x80\x03X\x08\x00\x00\x00local.dbq\x00.',
   'Created': datetime.datetime(2018, 9, 6, 21, 3, 57, 871228)},
  {'Key': 'floats',
   'Value': b"\x80\x03G@.\xd5#5'\xd1\xb2.",
   'Created': datetime.datetime(2018, 9, 6, 21, 3, 57, 871228)},
  {'Key': 'ndarrays',
   'Value': b"\x80\x03cnumpy.core.multiarray\n_reconstruct\nq\x00cnumpy\nndarray\nq\x01K\x00\x85q\x02C\x01bq\x03\x87q\x04Rq\x05(K\x01K\x02K\x02\x86q\x06cnumpy\ndtype\nq\x07X\x02\x00\x00\x00f8q\x08K\x00K\x01\x87q\tRq\n(K\x03X\x01\x00\x00\x00<q\x0bNNNJ\xff\xff\xff\xffJ\xff\xff\xff\xffK\x00tq\x0cb\x89C 3Y~\xb3|\xae\xe7?t\x04\xb18'\xda\xd0?\xdf\xf7\xe4\xa2d\x14\xe1?\x80\xf1\xb8Yz\xd9\x8d?q\rtq\x0eb.",
   'Created': datetime.datetime(2018, 9, 6, 21, 3, 57, 871228)},
  {'Key': 'files',
   'Value': b'\x80\x03X\x08\x00\x00\x00local.dbq\x00.',
   'Created': datetime.datetime(2018, 9, 6, 21, 3, 57, 871848)},
  {'Key': 'floats',
   'Value': b'\x80\x03G@V\xf7\xfb\x19\x1b+\xdc.',
   'Created': datetime.datetime(2018, 9, 6, 21, 3, 57, 871848)},
  {'Key': 'ndarrays',
   'Value': b'\x80\x03cnumpy.core.multiarray\n_reconstruct\nq\x00cnumpy\nndarray\nq\x01K\x00\x85q\x02C\x01bq\x03\x87q\x04Rq\x05(K\x01K\x02K\x02\x86q\x06cnumpy\ndtype\nq\x07X\x02\x00\x00\x00f8q\x08K\x00K\x01\x87q\tRq\n(K\x03X\x01\x00\x00\x00<q\x0bNNNJ\xff\xff\xff\xffJ\xff\xff\xff\xffK\x00tq\x0cb\x89C \xfe\x86.\xf5\xa7\xd2\xec?p\x14H\x05\x9d\x1c\xa1?\x87`\xe76T\x9f\xee?D!\xf75\x13\x90\xc1?q\rtq\x0eb.',
   'Created': datetime.datetime(2018, 9, 6, 21, 3, 57, 871848)}],
 'Group': [{'Label': 0,
   'Created': datetime.datetime(2018, 9, 6, 21, 3, 57, 871228)},
  {'Label': 1, 'Created': datetime.datetime(2018, 9, 6, 21, 3, 57, 871848)}],
 'IotaGroup': [{'IotaId': 0,
   'GroupId': 0,
   'Created': datetime.datetime(2018, 9, 6, 21, 3, 57, 871228)},
  {'IotaId': 1,
   'GroupId': 0,
   'Created': datetime.datetime(2018, 9, 6, 21, 3, 57, 871228)},
  {'IotaId': 2,
   'GroupId': 0,
   'Created': datetime.datetime(2018, 9, 6, 21, 3, 57, 871228)},
  {'IotaId': 3,
   'GroupId': 1,
   'Created': datetime.datetime(2018, 9, 6, 21, 3, 57, 871848)},
  {'IotaId': 4,
   'GroupId': 1,
   'Created': datetime.datetime(2018, 9, 6, 21, 3, 57, 871848)},
  {'IotaId': 5,
   'GroupId': 1,
   'Created': datetime.datetime(2018, 9, 6, 21, 3, 57, 871848)}]}

In [7]:
obj_out = ds.introspector.reconstruct(storage)
obj_out

      files     floats                                           ndarrays
0  local.db  15.416284  [[0.7400496965154048, 0.26331501518513467], [0...
1  local.db  91.874701  [[0.9007148541170122, 0.03342142762634459], [0...

In [8]:
ds.ds.all().equals(obj_out.all())

True