In [1]:
# imports
import datasetdatabase as dsdb
import pandas as pd
import numpy as np
import pathlib
import json
import os

In [2]:
# connection manager
mngr = dsdb.ConnectionManager(dsdb.LOCAL, user="jacksonb")
mngr

LOCAL:
	driver: sqlite
	link: /active/examples/local_database/local.db

In [3]:
# database manager
local = mngr.connect(dsdb.LOCAL)
local

Recent Datasets:
--------------------------------------------------------------------------------

In [4]:
# create test upload dataset
fp_ex = pathlib.Path("/active/examples/fp_example/")
if not fp_ex.exists():
    os.makedirs(fp_ex)

np.random.seed(seed=12)

test = []
for i in range(10):
    fp =  fp_ex / (str(i) + ".json")
    with open(fp, "w") as write_out:
        json.dump({"hello": "world"}, write_out)
    
    d = {}
    d["strings"] = "foo" + str(i)
    d["bools"] = np.random.rand() < 0.5
    d["floats"] = np.random.rand() * 100
    d["ndarrays"] = np.random.rand(2, 2)
    d["tuples"] = tuple([1, 2, 3])
    d["sets"] = set([1, 2, 3, 3, 3])
    d["files"] = str(fp)
    test.append(d)

test = pd.DataFrame(test)
test.to_csv(fp_ex / "example.csv")
test

,bools,files,floats,ndarrays,sets,strings,tuples
0,True,/active/examples/fp_example/0.json,74.004970,"[[0.26331501518513467, 0.5337393933802977], [0...","{1, 2, 3}",foo0,"(1, 2, 3)"
1,False,/active/examples/fp_example/1.json,3.342143,"[[0.9569493362751168, 0.13720932135607644], [0...","{1, 2, 3}",foo1,"(1, 2, 3)"
2,False,/active/examples/fp_example/2.json,85.273554,"[[0.002259233518513537, 0.5212260272202929], [...","{1, 2, 3}",foo2,"(1, 2, 3)"
3,False,/active/examples/fp_example/3.json,16.071675,"[[0.7645604503388788, 0.020809797952066167], [...","{1, 2, 3}",foo3,"(1, 2, 3)"
4,True,/active/examples/fp_example/4.json,67.145265,"[[0.4712297782500141, 0.8161682980460269], [0....","{1, 2, 3}",foo4,"(1, 2, 3)"
5,False,/active/examples/fp_example/5.json,32.756948,"[[0.3346475291060558, 0.9780580790165189], [0....","{1, 2, 3}",foo5,"(1, 2, 3)"
6,False,/active/examples/fp_example/6.json,82.500925,"[[0.40664030180666166, 0.4513084114213143], [0...","{1, 2, 3}",foo6,"(1, 2, 3)"
7,True,/active/examples/fp_example/7.json,96.259690,"[[0.4192502702591062, 0.4240524465509987], [0....","{1, 2, 3}",foo7,"(1, 2, 3)"
8,True,/active/examples/fp_example/8.json,3.516826,"[[0.08427266973184566, 0.7325206981419501], [0...","{1, 2, 3}",foo8,"(1, 2, 3)"
9,True,/active/examples/fp_example/9.json,22.085252,"[[0.055019993340200135, 0.5232460707782919], [...","{1, 2, 3}",foo9,"(1, 2, 3)"

In [5]:
# upload and return the dataset info
# first upload
ds_info = local.upload_dataset(dataset=test,
                               name="test_dataset",
                               description="this is the hello world of dataset ingestion",
                               type_map={"bools": bool,
                                         "files": str,
                                         "floats": float,
                                         "ndarrays": np.ndarray,
                                         "strings": str},
                               filepath_columns=["files"])
ds_info

Validating Dataset...
[============================================================] 100.0% (280/280) ~ 0:00:00 remaining
Creating Iota...
[============================================================] 100.0% (70/70) ~ 0:00:00 remaining
Creating Junction Items...
[============================================================] 100.0% (80/80) ~ 0:00:00 remaining
Dataset upload complete!

{'DatasetId': 1,
 'Name': 'test_dataset',
 'Description': 'this is the hello world of dataset ingestion',
 'SourceId': 1,
 'FilepathColumns': "['files']",
 'Created': '2018-07-20 19:20:07.191046'}

In [6]:
# upload and return the dataset info
# second upload
ds_info = local.upload_dataset(dataset=test)
ds_info

{'DatasetId': 1,
 'Name': 'test_dataset',
 'Description': 'this is the hello world of dataset ingestion',
 'SourceId': 1,
 'FilepathColumns': "['files']",
 'Created': '2018-07-20 19:20:07.191046'}

In [7]:
# recent datasets
local

Recent Datasets:
--------------------------------------------------------------------------------
{'DatasetId': 1, 'Name': 'test_dataset', 'Description': 'this is the hello world of dataset ingestion', 'SourceId': 1, 'FilepathColumns': "['files']", 'Created': '2018-07-20 19:20:07.191046'}

In [8]:
local.get_dataset(1)

,bools,files,floats,ndarrays,sets,strings,tuples
0,True,/home/jovyan/.local/share/QuiltCli/quilt_packa...,74.004970,"[[0.26331501518513467, 0.5337393933802977], [0...","{1, 2, 3}",foo0,"(1, 2, 3)"
1,False,/home/jovyan/.local/share/QuiltCli/quilt_packa...,3.342143,"[[0.9569493362751168, 0.13720932135607644], [0...","{1, 2, 3}",foo1,"(1, 2, 3)"
2,False,/home/jovyan/.local/share/QuiltCli/quilt_packa...,85.273554,"[[0.002259233518513537, 0.5212260272202929], [...","{1, 2, 3}",foo2,"(1, 2, 3)"
3,False,/home/jovyan/.local/share/QuiltCli/quilt_packa...,16.071675,"[[0.7645604503388788, 0.020809797952066167], [...","{1, 2, 3}",foo3,"(1, 2, 3)"
4,True,/home/jovyan/.local/share/QuiltCli/quilt_packa...,67.145265,"[[0.4712297782500141, 0.8161682980460269], [0....","{1, 2, 3}",foo4,"(1, 2, 3)"
5,False,/home/jovyan/.local/share/QuiltCli/quilt_packa...,32.756948,"[[0.3346475291060558, 0.9780580790165189], [0....","{1, 2, 3}",foo5,"(1, 2, 3)"
6,False,/home/jovyan/.local/share/QuiltCli/quilt_packa...,82.500925,"[[0.40664030180666166, 0.4513084114213143], [0...","{1, 2, 3}",foo6,"(1, 2, 3)"
7,True,/home/jovyan/.local/share/QuiltCli/quilt_packa...,96.259690,"[[0.4192502702591062, 0.4240524465509987], [0....","{1, 2, 3}",foo7,"(1, 2, 3)"
8,True,/home/jovyan/.local/share/QuiltCli/quilt_packa...,3.516826,"[[0.08427266973184566, 0.7325206981419501], [0...","{1, 2, 3}",foo8,"(1, 2, 3)"
9,True,/home/jovyan/.local/share/QuiltCli/quilt_packa...,22.085252,"[[0.055019993340200135, 0.5232460707782919], [...","{1, 2, 3}",foo9,"(1, 2, 3)"

In [9]:
local.export_to_quilt(1)

'dsdb/test_dataset'

In [10]:
from quilt.data.dsdb import test_dataset
test_dataset

<PackageNode '/home/jovyan/.local/share/QuiltCli/quilt_packages/pkgs/Quilt/dsdb/test_dataset'>
files/
README
data

In [11]:
test_dataset.files

<GroupNode>
json_2/

In [12]:
readme = test_dataset.README()
readme = open(readme, "r")
print(readme.read())

# test_dataset:

## Description:
this is the hello world of dataset ingestion

## Created:
2018-07-20 19:20:07.191046

## Origin SourceId:
1

In [13]:
read_in = pd.read_pickle(test_dataset.data())
read_in

,bools,files,floats,ndarrays,sets,strings,tuples
0,True,json_2,74.004970,"[[0.26331501518513467, 0.5337393933802977], [0...","{1, 2, 3}",foo0,"(1, 2, 3)"
1,False,json_2,3.342143,"[[0.9569493362751168, 0.13720932135607644], [0...","{1, 2, 3}",foo1,"(1, 2, 3)"
2,False,json_2,85.273554,"[[0.002259233518513537, 0.5212260272202929], [...","{1, 2, 3}",foo2,"(1, 2, 3)"
3,False,json_2,16.071675,"[[0.7645604503388788, 0.020809797952066167], [...","{1, 2, 3}",foo3,"(1, 2, 3)"
4,True,json_2,67.145265,"[[0.4712297782500141, 0.8161682980460269], [0....","{1, 2, 3}",foo4,"(1, 2, 3)"
5,False,json_2,32.756948,"[[0.3346475291060558, 0.9780580790165189], [0....","{1, 2, 3}",foo5,"(1, 2, 3)"
6,False,json_2,82.500925,"[[0.40664030180666166, 0.4513084114213143], [0...","{1, 2, 3}",foo6,"(1, 2, 3)"
7,True,json_2,96.259690,"[[0.4192502702591062, 0.4240524465509987], [0....","{1, 2, 3}",foo7,"(1, 2, 3)"
8,True,json_2,3.516826,"[[0.08427266973184566, 0.7325206981419501], [0...","{1, 2, 3}",foo8,"(1, 2, 3)"
9,True,json_2,22.085252,"[[0.055019993340200135, 0.5232460707782919], [...","{1, 2, 3}",foo9,"(1, 2, 3)"

In [14]:
for f in read_in["files"]:
    fp = getattr(test_dataset.files, f)
    print(json.load(open(fp.load())))

{'hello': 'world'}
{'hello': 'world'}
{'hello': 'world'}
{'hello': 'world'}
{'hello': 'world'}
{'hello': 'world'}
{'hello': 'world'}
{'hello': 'world'}
{'hello': 'world'}
{'hello': 'world'}

In [15]:
[type(nd) for nd in read_in["ndarrays"]]

[numpy.ndarray,
 numpy.ndarray,
 numpy.ndarray,
 numpy.ndarray,
 numpy.ndarray,
 numpy.ndarray,
 numpy.ndarray,
 numpy.ndarray,
 numpy.ndarray,
 numpy.ndarray]

In [16]:
[nd.shape for nd in read_in["ndarrays"]]

[(2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2)]

In [17]:
local._deep_print()

------------------------------- DATASET DATABASE -------------------------------
--------------------------------------------------------------------------------
User:
rows: 1
recent:
{'UserId': 1, 'Name': 'jacksonb', 'Description': None, 'Created': '2018-07-20 19:20:04.181673'}
--------------------------------------------------------------------------------
Iota:
rows: 80
recent:
{'IotaId': 76, 'GroupId': 9, 'Key': 'ndarrays(Reshape)', 'Value': '(2, 2)', 'ValueType': "<class 'tuple'>", 'Created': '2018-07-20 19:20:07.109165'}
{'IotaId': 77, 'GroupId': 9, 'Key': 'ndarrays', 'Value': '[0.055019993340200135 0.5232460707782919   0.4163696572946102\n 0.048218749825570395]', 'ValueType': "<class 'numpy.ndarray'>", 'Created': '2018-07-20 19:20:07.109165'}
{'IotaId': 78, 'GroupId': 9, 'Key': 'sets', 'Value': '{1, 2, 3}', 'ValueType': "<class 'set'>", 'Created': '2018-07-20 19:20:07.137254'}
{'IotaId': 79, 'GroupId': 9, 'Key': 'strings', 'Value': 'foo9', 'ValueType': "<class 'str'>", 'Created': '2018-07-20 19:20:07.152798'}
{'IotaId': 80, 'GroupId': 9, 'Key': 'tuples', 'Value': '(1, 2, 3)', 'ValueType': "<class 'tuple'>", 'Created': '2018-07-20 19:20:07.173378'}
--------------------------------------------------------------------------------
SourceType:
rows: 2
recent:
--------------------------------------------------------------------------------
Source:
rows: 1
recent:
{'SourceId': 1, 'SourceTypeId': 1, 'Name': '1', 'Created': '2018-07-20 19:20:04.198183'}
--------------------------------------------------------------------------------
FileSource:
rows: 1
recent:
{'FileSourceId': 1, 'FileId': 1, 'SourceId': 1}
--------------------------------------------------------------------------------
Dataset:
rows: 1
recent:
{'DatasetId': 1, 'Name': 'test_dataset', 'Description': 'this is the hello world of dataset ingestion', 'SourceId': 1, 'FilepathColumns': "['files']", 'Created': '2018-07-20 19:20:07.191046'}
--------------------------------------------------------------------------------
IotaDatasetJunction:
rows: 80
recent:
{'IotaDatasetJunctionId': 76, 'IotaId': 76, 'DatasetId': 1, 'Created': '2018-07-20 19:20:08.587324'}
{'IotaDatasetJunctionId': 77, 'IotaId': 77, 'DatasetId': 1, 'Created': '2018-07-20 19:20:08.606956'}
{'IotaDatasetJunctionId': 78, 'IotaId': 78, 'DatasetId': 1, 'Created': '2018-07-20 19:20:08.629996'}
{'IotaDatasetJunctionId': 79, 'IotaId': 79, 'DatasetId': 1, 'Created': '2018-07-20 19:20:08.680151'}
{'IotaDatasetJunctionId': 80, 'IotaId': 80, 'DatasetId': 1, 'Created': '2018-07-20 19:20:08.698239'}
--------------------------------------------------------------------------------
Algorithm:
rows: 1
recent:
{'AlgorithmId': 1, 'Name': 'datasetdatabase.core.datasetdatabase._upload_dataset', 'Description': None, 'Version': 'ea1caf2567dd5de8854efcbe6bae97b3b594f947', 'Created': '2018-07-20 19:20:04.163877'}
--------------------------------------------------------------------------------
Run:
rows: 1
recent:
{'RunId': 1, 'AlgorithmId': 1, 'UserId': 1, 'Name': None, 'Description': 'datasetdatabase.core.datasetdatabase._upload_dataset run for jacksonb', 'Begin': '2018-07-20 19:20:04.194346', 'End': '2018-07-20 19:20:08.714896'}
--------------------------------------------------------------------------------
RunInput:
rows: 0
recent:
--------------------------------------------------------------------------------
RunOutput:
rows: 1
recent:
{'RunOutputId': 1, 'RunId': 1, 'DatasetId': 1, 'Created': '2018-07-20 19:20:08.728512'}
--------------------------------------------------------------------------------
RunSource:
rows: 0
recent:
--------------------------------------------------------------------------------
File:
rows: 3
recent:
{'FileId': 3, 'OriginalFilepath': '/active/examples/custom_dataframe.pkl', 'Filetype': 'pkl', 'ReadPath': '/home/jovyan/.local/share/QuiltCli/quilt_packages/objs/bffab18a749c5dafc38ab86f680aeecb4038b6b88cd5fd20f203c915fe9d3439', 'MD5': 'c1422eda1c3f84f44ae994c3e6e3651b', 'QuiltPackage': 'dsdb_storage/fms_c1422eda1c3f84f44ae994c3e6e3651b', 'Metadata': None, 'Created': '2018-07-20 19:20:09.383969'}