In [1]:
import datasetdatabase as dsdb
import pandas as pd
import numpy as np
np.random.seed(12)

In [2]:
# creating lists of dicts to be formed into a dataframe
ds = []
for i in range(2):
    d = {}
    d["floats"] = np.random.rand() * 100
    d["ndarrays"] = np.random.rand(2, 2)
    d["files"] = "hello_world.txt"
    ds.append(d)

# convert this example both to dataframe
ds = pd.DataFrame(ds)
ds

,files,floats,ndarrays
0,hello_world.txt,15.416284,"[[0.7400496965154048, 0.26331501518513467], [0..."
1,hello_world.txt,91.874701,"[[0.9007148541170122, 0.03342142762634459], [0..."

In [3]:
ds = dsdb.Dataset(ds)
ds

info: None
ds: True
name: 902a8eee-42d6-4767-8f3f-c54dad84608a
description: None
introspector: <class 'datasetdatabase.introspect.dataframe.DataFrameIntrospector'>
validated: {'types': {'files': False, 'floats': False, 'ndarrays': False}, 'values': {'files': False, 'floats': False, 'ndarrays': False}, 'files': False}
md5: 5ba8fad57136aa25339a6d607614f35c
sha256: 0a507669faeb555eec473450625a128d5e9d37d671f86222a8ed807b0ae92ac5
annotations: []

In [4]:
ds.ds

,files,floats,ndarrays
0,hello_world.txt,15.416284,"[[0.7400496965154048, 0.26331501518513467], [0..."
1,hello_world.txt,91.874701,"[[0.9007148541170122, 0.03342142762634459], [0..."

In [5]:
types = {"ndarrays": np.ndarray}
values = {"floats": lambda x: x >= 0, "files": lambda x: "hello" in x}
files = ["files"]
import_as = False

ds.validate(type_validation_map=types, value_validation_map=values, filepath_columns=files, import_as_type_map=import_as)
ds

Checking dataset value types...
[============================================================] 100.0% 2/2 ~ 0:0:0 remaining
Checking dataset values...
[============================================================] 100.0% 4/4 ~ 0:0:0 remaining
Checking files exist...
[============================================================] 100.0% 2/2 ~ 0:0:0 remaining

info: None
ds: True
name: 902a8eee-42d6-4767-8f3f-c54dad84608a
description: None
introspector: <class 'datasetdatabase.introspect.dataframe.DataFrameIntrospector'>
validated: {'types': {'files': False, 'floats': False, 'ndarrays': True}, 'values': {'files': True, 'floats': True, 'ndarrays': False}, 'files': {'files': True}}
md5: 5ba8fad57136aa25339a6d607614f35c
sha256: 0a507669faeb555eec473450625a128d5e9d37d671f86222a8ed807b0ae92ac5
annotations: []

In [7]:
local = dsdb.DatasetDatabase(config=dsdb.LOCAL, build=True, user="jacksonb")
ds_out = local.upload_dataset(ds)
ds_out

Dataset processing has begun...
Dataset processing has ended...
Tearing down object...
[============================================================] 100.0% 6/6 ~ 0:0:0 remaining

info: {'id': 2, 'name': '902a8eee-42d6-4767-8f3f-c54dad84608a', 'description': None, 'introspector': 'datasetdatabase.introspect.dataframe.DataFrameIntrospector', 'md5': '5ba8fad57136aa25339a6d607614f35c', 'sha256': '0a507669faeb555eec473450625a128d5e9d37d671f86222a8ed807b0ae92ac5', 'created': datetime.datetime(2018, 9, 12, 21, 50, 36, 137363)}
ds: True
name: 902a8eee-42d6-4767-8f3f-c54dad84608a
description: None
introspector: <class 'datasetdatabase.introspect.dataframe.DataFrameIntrospector'>
validated: True
md5: 5ba8fad57136aa25339a6d607614f35c
sha256: 0a507669faeb555eec473450625a128d5e9d37d671f86222a8ed807b0ae92ac5
annotations: []

In [8]:
ds.ds.all().equals(ds_out.ds.all())

True