In [1]:
import datasetdatabase as dsdb
import pandas as pd
import numpy as np
np.random.seed(36)

In [2]:
# creating lists of dicts to be formed into a dataframe
ds = []
for i in range(2):
    d = {}
    d["floats"] = np.random.rand() * 100
    d["ndarrays"] = np.random.rand(2, 2)
    d["files"] = "hello_world.txt"
    ds.append(d)

# convert this example both to dataframe
ds = pd.DataFrame(ds)
ds

,files,floats,ndarrays
0,hello_world.txt,72.850719,"[[0.6016142123702133, 0.9521806674060137], [0...."
1,hello_world.txt,36.321460,"[[0.18655681228931587, 0.25915123828794717], [..."

In [3]:
ds = dsdb.Dataset(ds)
ds

info: None
ds: True
name: 3c1e114c-b883-4f32-bcec-6c98eae1d619
description: None
introspector: <class 'datasetdatabase.introspect.dataframe.DataFrameIntrospector'>
validated: {'types': {'files': False, 'floats': False, 'ndarrays': False}, 'values': {'files': False, 'floats': False, 'ndarrays': False}, 'files': False}
md5: a480996ba23e50f2cfa5e258b8283e6c
sha256: dc0f22a040d05cff454524b36dc8d48554e17d43cda9bef9d674a53855db09de
annotations: []

In [4]:
ds.ds

,files,floats,ndarrays
0,hello_world.txt,72.850719,"[[0.6016142123702133, 0.9521806674060137], [0...."
1,hello_world.txt,36.321460,"[[0.18655681228931587, 0.25915123828794717], [..."

In [5]:
local = dsdb.DatasetDatabase(config=dsdb.LOCAL, build=True, user="jacksonb")
local

Recent Datasets:
--------------------------------------------------------------------------------

In [6]:
ds.upload_to(local)
ds

Dataset processing has begun...
Dataset processing has ended...
Tearing down object...
[============================================================] 100.0% 6/6 ~ 0:0:0 remaining

info: {'id': 2, 'name': '3c1e114c-b883-4f32-bcec-6c98eae1d619', 'description': None, 'introspector': 'datasetdatabase.introspect.dataframe.DataFrameIntrospector', 'md5': 'a480996ba23e50f2cfa5e258b8283e6c', 'sha256': 'dc0f22a040d05cff454524b36dc8d48554e17d43cda9bef9d674a53855db09de', 'created': datetime.datetime(2018, 9, 10, 20, 10, 1, 876551)}
ds: True
name: 3c1e114c-b883-4f32-bcec-6c98eae1d619
description: None
introspector: <class 'datasetdatabase.introspect.dataframe.DataFrameIntrospector'>
validated: True
md5: a480996ba23e50f2cfa5e258b8283e6c
sha256: dc0f22a040d05cff454524b36dc8d48554e17d43cda9bef9d674a53855db09de
annotations: []

In [7]:
ds.store_files(filepath_columns="files")
ds

Dataset processing has begun...
Checking files exist...
[============================================================] 100.0% 2/2 ~ 0:0:0 remaining
Creating FMS stored files...
[============================================================] 100.0% 2/2 ~ 0:0:0 remaining
Dataset processing has ended...
Tearing down object...
[============================================================] 100.0% 6/6 ~ 0:0:0 remaining

info: {'id': 4, 'name': '3c1e114c-b883-4f32-bcec-6c98eae1d619 with fms stored files', 'description': None, 'introspector': 'datasetdatabase.introspect.dataframe.DataFrameIntrospector', 'md5': '87069c25c6ca33ebbb7a3ea8fbaea021', 'sha256': '496a018a2099f29ea6558183a0c95e23bcbd3d2c27b6a903383c3c0f59af332f', 'created': datetime.datetime(2018, 9, 10, 20, 10, 3, 413005)}
ds: True
name: 3c1e114c-b883-4f32-bcec-6c98eae1d619 with fms stored files
description: None
introspector: <class 'datasetdatabase.introspect.dataframe.DataFrameIntrospector'>
validated: True
md5: 87069c25c6ca33ebbb7a3ea8fbaea021
sha256: 496a018a2099f29ea6558183a0c95e23bcbd3d2c27b6a903383c3c0f59af332f
annotations: []

In [8]:
ds.ds

,files,floats,ndarrays
0,/home/jovyan/.local/share/QuiltCli/quilt_packa...,72.850719,"[[0.6016142123702133, 0.9521806674060137], [0...."
1,/home/jovyan/.local/share/QuiltCli/quilt_packa...,36.321460,"[[0.18655681228931587, 0.25915123828794717], [..."

In [9]:
import quilt
quilt.ls()

/home/jovyan/.local/share/QuiltCli/quilt_packages
dsdb_storage/fms_60ac8e9b43fec84a368eb4aa4b85cbb1 latest               72d9cb8fba7668940b71fe65562aea3a42441da9583e7f6d4af9110be02801ff